* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* top navigation */

nav {
  background: #24292e;
  display: flex;
  align-items: center;
  padding: 16px;
}

.hamburger-wrapper {
  margin-right: 16px;
  display: block;
}

.hamburger-wrapper button {
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
}

.hamburger-wrapper button svg {
  fill: #fff;
}

.brand-logo {
  width: 32px;
  margin-right: 16px;
  flex: 1 1 auto;
  align-self: stretch;
  display: flex;
  justify-content: center;
}

.brand-logo img {
  width: 32px;
  margin: 0 auto;
}

.nav-content {
  display: flex;
  flex: 1 1 auto;
  margin-right: 16px;
}

.nav-content {
  display: none;
}

.search-form-container {
  margin-right: 16px;
}

.nav-content form {
  border: 1px solid #444d56;
  border-radius: 6px;
  width: 272px;
  display: flex;
  align-items: center;
}

.nav-content form input {
  border: none;
  padding: 0 12px;
  background: transparent;
  font-family: inherit;
  min-height: 28px;
  outline: none;
  color: #fff;
  flex: auto;
}

.nav-content form button {
  margin-right: 8px;
  width: 20px;
  height: 20px;
  border: 1px solid #444d56;
  background: transparent;
  border-radius: 3px;
  color: #757e86;
  cursor: pointer;
}

.nav-content form input::-webkit-input-placeholder {
  color: #757e86;
}

.nav-content form input:-ms-input-placeholder {
  color: #757e86;
}

.nav-content form input::placeholder {
  color: #757e86;
}

ul.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
}

ul.navbar-list li {
  margin-right: 16px;
}

ul.navbar-list li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
}

.notification-wrapper {
  width: 21px;
  height: 21px;
  cursor: pointer;
}

.notification-wrapper svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.notification-wrapper:hover svg {
  fill: hsla(0, 0%, 100%, 0.7);
}

.notification-container {
  position: relative;
  margin: 0;
}

.notification-container div:last-child {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0366d6;
  position: absolute;
  top: 0;
  right: 0;
  border: 2px solid #24292e;
}

.add-container {
  cursor: pointer;
  align-items: center;
  margin-right: 16px;
  display: none;
}

.add-container:hover svg {
  fill: hsla(0, 0%, 100%, 0.7);
}

.add-container svg#add {
  width: 20px;
  height: 20px;
}

svg#caret {
  width: 10px;
  height: 12px;
}

.image-container {
  align-items: center;
  cursor: pointer;
  display: none;
}

.image-container:hover svg {
  fill: hsla(0, 0%, 100%, 0.7);
}

.nav-image-wrapper {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  overflow: hidden;
}

.nav-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* main sticky navigation */

.main-navigation {
  position: sticky;
  top: 0;
  z-index: 3;
  margin-top: 24px;
  border-bottom: 1px solid #e1e4e8;
  display: none;
  background: #fff;
}

.main-navigation-container {
  padding: 0 32px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.main-container-flex {
  display: flex;
}

.empty-column {
  width: 25%;
  padding: 0 16px;
}

.main-navigation-content {
  width: 75%;
  padding: 0 16px;
}

.main-content-wrapper {
  padding-top: 8px;
}

ul.main-navigation-list {
  list-style: none;
  display: flex;
}

ul.main-navigation-list li a {
  padding: 8px 16px;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  color: #24292e;
  text-align: center;
  white-space: nowrap;
  background-color: initial;
  border: 0;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
}

ul.main-navigation-list li a svg {
  margin-right: 8px;
  fill: #959da5;
}

ul.main-navigation-list li:nth-child(2) a {
  font-weight: 600;
  border-bottom-color: #f9826c;
  outline: 1px dotted transparent;
  outline-offset: -1px;
}

ul.main-navigation-list li:nth-child(2) a svg {
  fill: #24292e;
}

ul.main-navigation-list li:nth-child(2) a span {
  margin-left: 4px;
  background-color: rgba(209, 213, 218, 0.5);
  display: inline-block;
  min-width: 20px;
  padding: 0 6px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  text-align: center;
  border: 1px solid transparent;
  border-radius: 2em;
}

.main-profile-container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
}

.main-profile-flex {
  display: flex;
  flex-wrap: wrap;
}

.main-description-container {
  padding: 0 16px;
  width: 100%;
}

.main-description-wrapper {
  margin: 0;
  margin-bottom: 24px;
}

.main-image-wrapper {
  position: relative;
  z-index: 4;

  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.main-image-wrapper a {
  margin-right: 16px;
}

.main-image-wrapper a img {
  border-radius: 50%;
  width: 70px;
  height: 70px;
}

.main-name-container {
  display: none;
}

.main-name-container.mobile,
.main-name-container.mobile h1 span {
  display: block;
}

.badge-wrapper {
  position: relative;
  width: 100%;
}

.badge-container {
  z-index: 2;
  width: 38px;
  height: 38px;
  background: #fff;
  border: 1px solid #e1e4e8;
  border-radius: 50%;
  box-shadow: 0 1px 0 rgba(27, 31, 35, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  border-radius: 6px;
  padding: 0 8px;
  justify-content: flex-start;
  margin-top: 32px;
  margin-bottom: 8px;
}

.badge-container svg {
  fill: #586069;
  margin-right: 8px;
}

.badge-container span {
  font-size: 12px;
  color: #586069;
}

.main-description {
  line-height: 1.6;
}

.main-name-container {
  padding: 16px 0;
}

.main-name-container h1 span {
  font-weight: 600;
}

.main-name-container h1 span:first-child {
  font-size: 26px;
  line-height: 1.25;
  color: #24292e;
}

.main-name-container h1 span:last-child {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  color: #586069;
}

.main-repositories-container {
  padding: 0 16px;
  width: 100%;
}

.main-filter-container {
  position: relative;
}

.main-filter-wrapper {
  padding: 16px 0;
  border-bottom: 1px solid #e1e4e8;
}

.main-filter-wrapper form input {
  width: 100%;
  font-size: 14px;
  line-height: 20px;
  color: #24292e;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: inset 0 1px 0 rgba(225, 228, 232, 0.2);
  padding: 5px 12px;
  border-radius: 6px;
  outline: none;
  font-family: inherit;
  border: 1px solid #e1e4e8;
}

.main-filter-wrapper form input:focus {
  box-shadow: 0 0 0 3px rgba(3, 102, 214, 0.3);
}

ul.repositories-list li {
  display: flex;
  padding: 24px 0;
  width: 100%;
  border-bottom: 1px solid #e1e4e8;
}

.repository-detail {
  width: 75%;
}

.repositories-title-wrapper {
  margin-bottom: 4px;
}

.repositories-title-wrapper h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 5px;
}

.repositories-title-wrapper h3 span {
  border: 1px solid #e1e4e8;
  padding: 0 7px;
  border-radius: 2em;
  margin-left: 4px;
  margin-bottom: 4px;
}

.repositories-title-wrapper h3 a {
  text-decoration: none;
  color: #0366d6;
}

.repositories-title-wrapper h3 a:hover {
  text-decoration: underline;
}

.repositories-title-wrapper span {
  font-size: 12px;
  color: #586069;
}

.repo-desc {
  width: 75%;
  padding-right: 24px;
  margin-bottom: 8px;
  color: #586069;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.repo-description {
  margin-top: 8px;
  display: flex;
}

span.language {
  font-size: 12px;
  color: #586069;
  display: flex;
  align-items: center;
  margin-right: 16px;
}

span.language-color {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #e34c26;
  margin-right: 5px;
  display: inline-block;
}

.repo-description a {
  margin-right: 16px;
  color: #586069;
  font-size: 12px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.repo-description a svg {
  margin-right: 5px;
  fill: #586069;
}

.repo-description a:hover {
  color: #0366d6;
}

.repo-description a:hover svg {
  fill: #0366d6;
}

span.update-time {
  color: #586069;
  font-size: 12px;
}

.star-button-wrapper {
  width: 25%;
  text-align: right;
}

.star-button-wrapper button {
  padding: 3px 12px;
  font-size: 12px;
  line-height: 20px;
  font-family: inherit;
  cursor: pointer;
  color: #24292e;
  background-color: #fafbfc;
  transition: 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  transition-property: color, background-color, border-color;
  font-weight: 500;
  border-radius: 6px;
  border: 1px solid rgba(27, 31, 35, 0.15);
}

.star-button-wrapper button svg {
  display: inline-block;
  margin-bottom: -3px;
  margin-right: 4px;
  fill: #6a737d;
}

.star-button-wrapper button:hover {
  background-color: #f3f4f6;
  border-color: rgba(27, 31, 35, 0.15);
  transition-duration: 0.1s;
}

.mobile-repo-navigation {
  padding: 0 16px;
  position: sticky;
  background: #fff;
  width: 100%;
  top: 0;
  border-bottom: 1px solid rgba(27, 31, 35, 0.15);
  overflow-x: auto;
}

.mobile-repo-navigation ul li a {
  padding: 8px 16px;
  font-size: 14px;
}

.mobile-repo-navigation ul li a svg {
  display: none;
}
